*{
    transition: 0.2s ease all;
}
body{
    background-color: rgb(236, 236, 236);
}
.navbar-collapse, .navbar-brand{
    margin-left: 40px;
}
header .container-fluid{
    align-items: center !important;
}
/* ------------------------------------------------------- */
/* Carrusel de imagenes Header */

 header .carousel-item{
    width: 100%;
    height: 400px;
    overflow: hidden;
    background-image: url('media/bg-header.jpg');
    background-position: center;
    background-size: cover;
    animation-delay: 2s;
}

header .carousel-item .header{
    width: 100%; height: 100%;
    color: white;
    background-color: rgba(49, 98, 163, 0.6);
}

.header .texto{
    float: left;
    width: 32%;
    margin: 7% 5%;  margin-right: 10%;
    
}
.header .texto .titulo{
    font-size: 35px;
    display: block;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
}
.header .texto .subtitulo{
    font-size: 28px;
    display: block;
    text-shadow: 0px 5px 5px black;
    text-align: center;
}

.header .texto .descripcion{
    font-size: 20px;
    display: inline-block;
    text-align: justify;
    text-shadow: 0px 5px 5px black;
}

.header img{
    float: left;
    height: 100%;
    margin: 0 5%; margin-left: 10%;
}

/* ------------------------------------------------------- */
/* Iconos de cosas */
header .iconos{
    width: 100%; height: 200px;
    text-align: center; align-items: center;
    border-bottom: solid 2px rgb(49, 98, 163);
}

header .icono{
    width: 200px; height: 150px;
    margin:20px 62px;
    float: left;
}

.icono .i{
    width: 100px; height: 100px;
    margin: 10px 50px;
    border-radius: 50%;
    background-color: white;
}
.icono .i:hover{
    transform: scale(1.1); transition: ease all 0.3s;
}
.icono i{
    font-size: 50px; margin: 25px;
}

.icono .icono-texto{
    display: inline-block;
    width: 100%;
}
/* ---------------------------------------- */
.tarjetas-titulo{
    display: block;
    width: 100%;
    height: 180px;
    margin-top: 30px;
    text-align: center; align-items: center;
}
.tarjetas-titulo .card{
    width: 70%;
    margin: 0 15%;
    border: none;
    background-color: transparent;
}
.tarjetas-titulo .card-header{
    background-color: transparent;
    color: rgb(49, 98, 163);
    font-size: 27px;
}
.tarjetas-titulo .card .card-title{
    text-transform: uppercase;
    font-size: 38px;
}
.tarjetas-titulo .card .card-text{
    font-size: 24px;
}
.tarjetas{
    display: block;
    width: 100%;
    height: 500px;
    padding: 20px 50px;
    text-align: center; align-items: center;
}
.tarjetas .card{
    display: inline-block;
    float: left;
    height: 95%; width: 290px;
    margin: 10px 10px;
    border: none;
    background-color: white;
} .tarjetas .card:hover{ transform: scale(1.1); transition: ease all 0.3s; }
.card img{
    width: 100%; height: 50%;
}
.card-boton{
    background-color: rgba(49, 102, 163, 0.6);
}
.tarjetas .card-title{
    text-transform: uppercase;
}
/* -------------------------     ------------------------        ------------------------ */
/* -------------------------     ------------------------        ------------------------ */
/* -------------------------     ------------------------        ------------------------ */

@media only screen and (max-width: 576px) {

    .navbar-collapse, .navbar-brand{
        margin-left: 0px;
        font-size: 20px;
    }
    /* .navbar-brand i{
        display: none;
    } */
    .carousel-item{
        height: 450px !important;
    }
    /* ----------------------------- */
    .header .texto{
        width: 80%;
        margin: 0 10%;
        height: 50%;
        border-top: solid 4px white;
    }

    .header img{
        height: 50%;
        margin: 0 25% !important;
    }

    /* -------------------- */
    header .iconos{
        width: 100%; height: 350px;
        text-align: center; align-items: center;
        border-bottom: solid 2px rgb(49, 98, 163);
        padding: 0 47px; padding-left: 50px;
    }
    header .icono{
        width: 200px; height: 150px;
        margin:8px 8px;
        float: left;
    }
    /* {{{{{{   Inicio de Main    }}}}}} */
    .tarjetas-titulo{
        height: 290px;
        margin-top: 30px;
        text-align: center; align-items: center;
    }
    .tarjetas-titulo .card{
        width: 90%;
        margin: 0 5%;
    }

    .tarjetas{
        border: solid 1px black;
        padding:10px;
        height: 670px;
        overflow: hidden;
    }
    .tarjetas .card{
        height: 49%; width: 250px;
        margin: 5px 5px;
        border: none;
        background-color: white;
    }
    .tarjetas .card img{
        height: 48%;
    }
}

/* -------------------------     ------------------------        ------------------------ */
/* -------------------------     ------------------------        ------------------------ */
/* -------------------------     ------------------------        ------------------------ */
@media only screen and (max-width: 412px) {
    .carousel-item{
        height: 630px !important;
    }
    .header img{
        height: 42%;
        margin: 0 12% !important;
    }

    /* -------------------- */
    header .iconos{
        width: 100%; height: 350px;
        padding: 0 10px; padding-left: 10px;
    }
    header .icono{
        width: 180px; height: 150px;
        margin:8px 4px;
    }
    .icono .i{
        width: 100px; height: 100px;
        margin: 10px 40px;
        border-radius: 50%;
        background-color: white;
    }

/* {{{{{{   Inicio de Main    }}}}}} */
    .tarjetas-titulo{
        height: 400px;
        margin-top: 30px;
    }
    .tarjetas-titulo .card-title{
        background-color: rgba(255, 255, 255,0.4);
        border-radius: 2px;
    }
    .tarjetas{
        border: solid 1px black;
        padding:10px;
        height: 1600px;
        overflow: hidden;
    }
    .tarjetas .card{
        height: 370px; width: 330px;
        margin: 10px 20px;
        border: none;
        background-color: white;
    }
}